body {
    margin: 0;
    padding: 0;
    background-color: #030044;
}
.equipo{
     width: 122px;
height: 122px;
angle: 0 deg;
opacity: 1;

}
.cuadro {
    position: absolute;
    width: 648px;
    height: 617px;
    transform: rotate(0deg);
    opacity: 1;
    top: 203px;
    left: 667px;
    border-radius: 88px;
    background-color: #181488;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuadrodos {
    position: absolute;
width: 569px;
height: 548px;
angle: 0 deg;
opacity: 1;
top: 238px;
left: 705px;
gap: 20px;
   
   display: flex;
   justify-content: center;
    align-items: center;
      flex-direction: column;
}
.fila{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 569PX;
height: 122PX;
angle: 0 deg;
opacity: 1;
gap: 27px;
flex-direction: row;
background-color: #000030;
}
.logocuadrado{
    width: 122px;
height: 122px;
angle: 0 deg;
opacity: 1;

}
.titulo{
    position: absolute;
    width: 419px;
height: 63px;
angle: 0 deg;
opacity: 1;
top: 103px;
left: 780px;
font-family: Plus Jakarta Sans;
font-weight: 800;
font-style: Italic;
font-size: 50px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
color: #E0E0E0;

}
.buscador {
    position: relative;
}

#sugerencias {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 100;
}

#sugerencias div {
    height: 40px;

    background-color: #ffff55;
    border-bottom: 2px solid #11115c;

    display: flex;
    align-items: center;

    padding-left: 15px;

    font-size: 20px;
    font-weight: bold;

    cursor: pointer;
}

#sugerencias div:hover {
    background-color: #eeee33;
}
.input{
    position: absolute;
width: 552px;
height: 53px;
angle: 0 deg;
opacity: 1;

border-width: 7px;
border-top-left-radius: 13px;
border-top-right-radius: 13px;
background: #FFFFFF;
border: 7px solid #929292;
font-weight: 800;
font-style: Italic;
font-size: 30px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
}
.rendirse{
    position: absolute;
    width: 70px;
height: 70px;
angle: 0 deg;
opacity: 1;
top: 862px;
left: 1245px;
border-radius: 16px;

}
.buscador {
    position: absolute;
    width: 552px;
    height: 53px;
    top: 864px;
    left: 667px;
}
.buscador {
    position: absolute;
    width: 552px;
    height: auto;
    top: 864px;
    left: 667px;
    z-index: 100;
}

.input {
    width: 552px;
    height: 53px;
    box-sizing: border-box;

    border-width: 7px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;

    background: #FFFFFF;
    border: 7px solid #929292;

    font-weight: 800;
    font-style: Italic;
    font-size: 30px;
    line-height: 100%;
}

#sugerencias {
    position: absolute;
    top: 60px;
    left: 0;

    width: 552px;

    z-index: 1000;
}

#sugerencias div {
    width: 100%;
    height: 45px;
    box-sizing: border-box;

    background-color: #ffff55;
    border-bottom: 2px solid #11115c;

    display: flex;
    align-items: center;

    padding-left: 15px;

    font-size: 20px;
    font-weight: bold;

    cursor: pointer;
}

#sugerencias div:hover {
    background-color: #eeee33;
}
.celda {
  position: relative;
  width: 122px;
  height: 122px;
}
.casilla-fondo {
  width: 100%;
  height: 100%;
  display: block;
}
.escudo-club {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;   /* ajustable */
  height: 78px;
  object-fit: contain;
}